<header class="header-bg">
    <h1>
        <a href="/">
            <img class="logo" src="../imagens/logo.png" alt="Pata Aqui">
        </a>
    </h1>
    <nav>
        <ul class="lista-flex">
            <li><a href="/">Home</a></li>
            <li><a href="/sobre">Sobre nós</a></li>
            <li><a href="/login">Login</a></li>
            <li><a class="bot-cad" href="/cadastro-usuario">Cadastre-se</a></li>
        </ul>
    </nav>
</header>