<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pata Aqui</title>
    <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
    <link rel="8preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Roboto+Slab family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/estilos/style.css">
    <link rel="stylesheet" href="/estilos/style-index.css">
    <link rel="stylesheet" href="/estilos/style-sobre.css">
    
    
    <link rel="stylesheet" href="/estilos/style-user.css">
    <link rel="stylesheet" href="/estilos/style-pet.css">
</head>
<body>
    {{>_navbar}}
    {{{body}}}
    {{>_footer}}
    
</body>