/*Adaptações do design geral, para a tela de cadastro de pet*/

.cad {
    margin-top: 14vh;
    width: 900px;
    height: 500px;
    margin-bottom: 15vh;
}

.tit {
    margin-bottom: -100px;
}

.form {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-areas: "nome-pet nome-pet nome-pet img img"
                         "raca raca raca img img"
                         "sexo sexo sexo img img"
                         "idade idade idade . ."
                         "vac vac vac . ."
                         "bot . . . .";
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr) 100px;
}

.form-group {
   text-align: left;
   margin-left: 50px;
}

.form input{
    margin: 0;
}

.form input[type="text"] {
    width: 90%;
}

.form input[type="radio"],
.form input[type="number"] {
    margin-right: 20px;
}

#img {
    grid-area: img;
}

#nome-pet {
    grid-area: nome-pet;
 
}

#raca {
    grid-area: raca;
}

#sexo {
    grid-area: sexo;
}

#idade {
    grid-area: idade;
}

#vac {
    grid-area: vac;
}

#vac :first-child {
    margin-left: 20px;
}

#bot {
    grid-area: bot;
    margin-top: 50px;
}

.idade {
    max-width: 150px;
}

.imag{
   cursor: pointer;
}

#carrega-img {
    display: none;
}

.btn {
    height: 50px;
    width: 145px;
}