<link rel="stylesheet" href="/estilos/style-home.css">

<div class="op-pet">
    <ul class="lista-flex">
        <li><a href="#">Adote</a></li>
        <li>|</li>
        <li><a href="cadastro-pet">Cadastre um bixinho</a></li>
    </ul>
</div>
<main>
    <div class="list-pets">
        {{#each pets}}
            <div class="pet">
                <img src="/imagens-pets/{{imgKey}}" alt="{{imgNome}}">
                <div class="text">
                    <h2>{{nome}}</h2>
                    <p>{{idade}} anos</p>
                </div>
            </div>
        {{/each}}
    </div>
</main>