<link rel="stylesheet" href="/estilos/style-home.css">

<div class="op-pet">
    <ul class="lista-flex">
        <li><a href="#">Adote</a></li>
        <li>|</li>
        <li><a href="cadastro-pet">Cadastre um bixinho</a></li>
    </ul>
</div>
<main>
    <div class="list-pets">
        {{#each pets}}
            <div class="pet">
                <img src="/imagens-pets/{{imgKey}}" alt="{{imgNome}}" style="border-radius: 45px;">
                <div class="text">
                    <h2>{{nome}}</h2>
                    <p>{{idade}} anos</p>
                </div>
            </div>
        {{/each}}
    </div>
</main>
<div class="but-group">
    <div id="lista-atual" class="but-pag">1</div>
    <div class="but-pag" id="lista2">2</div>
    <div class="but-pag" id="lista3">3</div>
</div>
