.main-txt {
    width: 700px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
    border: 2px solid rgb(71, 71, 71);
    border-radius: 50px;
}

.main-txt h1 {
    text-align: center;
    margin-bottom: 30px;
}

.main-txt h2 {
    margin-bottom: 40px;
    text-align: center;
    font-style: italic;
    color: gray;
}

.main-txt p {
    font-size: 15pt;
    text-align: justify;
    margin-bottom: 20px;
}

.main-txt img {
    margin: auto;
    margin-top: 20px;
    width: 600px;
}

/*RESPONSIVIDADE*/
@media (max-width: 900px) {
    .main-txt p {
        font-size: 12pt;
    }
}

@media (max-width: 770px) {
    .main-txt {
        width: 83vw;
        padding: 20px;
    }

    .main-txt h1,
    .main-txt h2,
    .main-txt p,
    .main-txt img {
        width: 70vw;
    } 

    .main-txt h2 {
        font-size: 14pt;
    }
}