.login {
    height: 70vh;
    display: flex;
    align-items: center;
}

.cad {
    margin-top: 3vh;
    width: 350px;
	height: 350px; 
}

.form input {
    width: 300px;
    margin-left: 40px;
}

.tit {
    margin-top: -345px;
    margin-left: 420px;
}

footer {
    position: absolute;
    top: calc(100% - 100px);
    bottom: 0;
    width: 100%;
}