/* ADOTE | CADASTRE */
.op-pet {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 45px;
}

.op-pet a {
    text-decoration: none;
    text-transform: uppercase;
    color: #5c5c5c;
}

.op-pet li{
    margin-left: 15px;
}

.op-pet li :hover {
    text-decoration: underline;
}

/* LISTA DE PETS */
.list-pets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 80vw;
}

.pet {
    margin: 20px;
    cursor: pointer;
    border-radius: 45px;
    box-shadow: 7px 7px 10px #444;
}

.pet,
.pet img {
    width: 220px;
    height: 220px;
}

/* INFORMAÇÃO DOS PETS */
.text {
    color: black;
    position: absolute;
    margin-top: -80px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff1e493;
    width: 250px;
}

/* BOTÕES DE PÁGINA */
.but-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.but-pag {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid black;
    text-decoration: none;
    margin: 5px;
    margin-bottom: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.but-pag:hover,
#lista-atual {
    background-color: #ffe1f0;
}