.cad-pet{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 50px;
	width: 900px;
	height: 600px;
	border: 2px solid rgb(71, 71, 71);
	align-items: center;
    text-align: center;
	background-color: hsl(29, 100%, 95%);
	box-sizing: border-box;
    padding: 20px 20px;
    margin: auto;
    margin-top: 50px;
}

.form input{
	width: 100%;
	margin-bottom:21px;
}
.form input[type="submit"]{
	border:none;
	outline:none;
	height:35px;
	color:#000;
	background:#fff;
	border-radius: 20px;
	transition:0.2s;

}

    
.btn{
        border-radius: 15px;
        text-transform: uppercase;
        color: black;
        font-size: 10px;
        padding: 10px 50px;
        cursor: pointer;
        font-weight: bold;
}
.btn{
	background-color: transparent;
	border: 1px solid black;
}
.btn:hover{
    background-color: rgb(107, 107, 107);
    color:black;
    }
.formz{

    display: flex;
    flex-direction: column;
        
 }
.flexi{
    display: flex;
    flex-direction: row;
        
   
}