/*Adaptações do design geral, para a tela de cadastro de pet*/

.form input[type="radio"] {
    margin-left: 20px;
}

.formz{
    display: flex;
    flex-direction: column;  
 }

.flexi{
    display: flex;
    flex-direction: row;
}

.btn {
    margin-top: 60px;
    margin-right:350px;
}

.imag{
   margin-left: 50px;
   margin-bottom: 100px;
   cursor: pointer;
}