/*Adaptações do design geral, para a tela de cadastro de usuário*/
/*GRID LAYOUT*/
#nome-user {
    grid-area: nome;
}

#sobrNome-user {
    grid-area: sobrNome;
}

#cpf-user {
    grid-area: cpf;
}

.sexo {
    grid-area: sexo;
}

#email {
    grid-area: email;
}

#senha {
    grid-area: senha;
}

#conf-senha {
    grid-area: conf-senha;
}

.form {
    width: 80%;
    max-width: 500px;
    display: grid;
    grid-template-areas: 
        "nome nome"
        "sobrNome sobrNome"
        "cpf sexo"
        "email email"
        "senha senha"
        "conf-senha conf-senha";
    grid-gap: 15px;
}

.form input {
    margin: auto;
    width: 100%;
    max-width: 500px;
}

input[type="radio"] {
    margin-right: 0;
}

/*RESPONSIVIDADE*/
@media (max-width: 1000px) {
    .cad {
        width: 90vw;
    }

    .tit {
        margin-right: 50vw;
    }
}

@media (max-width: 650px) {
    .cad {
        padding: 5px;
    }

    .tit {
        margin-right: 0;
    }
}