/*Adaptações do design geral, para a tela de cadastro de usuário*/

.form {
    width: 80%;
}

.form input {
    margin: auto;
    width: 100%;
    max-width: 500px;
}

#nome-user,
#sobrNome-user,
#cpf-user {
    width: 35%;
}

#nome-user {
    margin-right: 3%;
}

#cpf-user {
    margin: 0;
    margin-bottom: 21px;
}


.form label[for="masc"] {
    margin-left: 1%;
}

#masc {
    margin-right: 3%;
}

.form-group {
    margin-bottom: 30px;
    width: 100%;
}

/*RESPONSIVIDADE*/
@media (max-width: 1000px) {
    .cad {
        width: 90vw;
    }

    .tit {
        margin-right: 50vw;
    }

    #nome-user,
    #sobrNome-user,
    #cpf-user{
        width: 100%;
    }

    #nome-user,
    #cpf-user {
        margin-bottom: 21px;
        margin-right: 0;
    }
}

@media (max-width: 650px) {
    .cad {
        padding: 5px;
    }

    .tit {
        margin-right: 0;
    }

}
