<link rel="stylesheet" href="/estilos/style-pet.css">

<div class="cad">
    <!-- title -->
    <div class="tit">
        Cadastre o pet
    </div>
    <form class="form" action="/cadastro-pet/add" method="POST" enctype="multipart/form-data">
        <!-- informações basicas -->
        <div class="formz">
            <input type="text" placeholder="Nome:" id="nome" name="nome">
            <input type="text" placeholder="Raça:" id="raca" name="raca">
            <div id="sEgg"></div>
        </div>
        <!-- sexo do animal -->
        <div class="flexi">
            <label for="macho">Macho</label>
            <input type="radio" name="sexo" id="macho" value="macho">
            <label for="femea">Fêmea</label>
            <input type="radio" name="sexo" id="femea"value="femea">
        </div>

        <!-- idade -->
        <div class="flexi">
            <input type="number" placeholder="Idade (anos)" id="idade" name="idade">
            <label for="desc">Desconhecida</label>
            <input type="radio" name="desc" id="desc">
        </div>

        <!-- vacina -->
        <div class="flexi">
            <label for="vac">Vacinado: </label>
            <label for="sin">Sim</label>
            <input type="radio" name="vacinado" id="sin" onchange="insereCampo()" value="sim">
            <label for="nom">Não</label>
            <input type="radio" name="vacinado" id="nom" value="nao">
            <label for="nnsei">Não sei informar!</label>
            <input type="radio" name="vacinado" id="nnsei" value="nao sei">
        </div>

        <!-- botão -->
        <button class="btn" type="submit" onclick="validar()">Enviar</button>

        <label class="imgs" for="carrega-img">
            <img src="../imagens/imagens-cadpet/grupo4.png" class="imag" width="250" height="" alt="">
        </label>
        <input type="file" name="imagem" id="carrega-img">

    </form>
</div>
