<link rel="stylesheet" href="/estilos/style-login.css">

<article class="login">
    <div class="cad">
        <div class="tit">
            Faça Login 
        </div>
        <form class="form">
            <!-- imagem user -->
            <div class="imaguser">
                <img src="../imagens/imagem-login/user.png" class="user" width="120" height="" alt="">
            </div>

            <!-- informações basicas -->
            <div class="formz">
                <input type="email" placeholder="Email:" id="email">
                <input type="password" placeholder="Senha:" id="senha">
            </div>

            <!-- botão -->
            <button class="btn" type="submit" onclick="validar()">Entrar</button>

        </form>
    </div>
</article>
<script src="../scripts/login.js"></script>