<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pata Aqui - Faça Login</title>
    <link rel="shortcut icon" href="../imagens/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Roboto+Slab family=Roboto:wght@300;400&display=swap"rel="stylesheet">
    <link rel="stylesheet" href="/estilos/style.css">
    <link rel="stylesheet" href="/estilos/style-forms.css">
    <link rel="stylesheet" href="/estilos/style-login.css">
</head>

<body>
    <article class="login">
        <div class="cad">
            <div class="tit">
                Faça Login 
            </div>
            <form class="form">
                <!-- imagem user -->
                <div class="imaguser">
                    <img src="../imagens/imagem-login/user.png" class="user" width="120" height="" alt="">
                </div>
    
                <!-- informações basicas -->
                <div class="formz">
                    <input type="email" placeholder="Email:" id="email">
                    <input type="password" placeholder="Senha:" id="senha">
                </div>
    
                <!-- botão -->
                <button class="btn" type="submit" onclick="validar()">Entrar</button>
    
            </form>
        </div>
    </article>

    <footer class="footer-bg">
        <div class="rodape">
            <p>Copyright &copy; OSF Development <br> <small>Elaine & Ronald & Vívia</small></p>
        </div>
    </footer>
    <script src="../scripts/login.js"></script>
</body>

</html>